@{
    ViewBag.Title = "About Eisk";
    //the following code is required, if DisplayMode in layout is set to true, thus we'll need to ask the MVC framework to -
    //load mobile layout, when in mobile
    //DisplayModes.RequireConsistentDisplayMode = false;
}
<h1 class="title-regular clearfix">About Eisk</h1>
<p>
    Employee Info Starter Kit is an open source project, that provides project templates intended to address different types of real world challenges faced by web application developers.<br />

    Using a single entity ‘Employee’, it illustrates how to utilize latest and successful software development frameworks (such as ASP.NET)  and tools (such as Visual Studio), to build manageable and high performance web applications with effectively and quickly.<br />

    All of the editions consider common use cases as provided below:
</p>
<ul>
    <li>Creating a new employee record</li>
    <li>Read existing employee records</li>
    <li>Update an existing employee record</li>
    <li>Delete existing employee records</li>
    <li>Role based security model </li>
</ul>
<p>Check <a href="http://eisk.codeplex.com/wikipage?title=Employee%20Info%20Starter%20Kit%20Editions" target="_blank">here</a> is the list of major releases of Employee Info Starter Kit on different technology and architecture track.</p>
