<unity>
  <typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perRequest" type="Eisk.Helpers.UnityHttpContextPerRequestLifetimeManager, Eisk.MVC" />
  </typeAliases>
  <containers>
    <container name="container">
      <types>
        <type type="Eisk.DataAccess.DatabaseContext, Eisk.MVC" mapTo="Eisk.DataAccess.DatabaseContext, Eisk.MVC">
          <lifetime type="perRequest" />
        </type>
      </types>
    </container>
  </containers>
</unity>

