<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=&quot;res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=EmployeeInfo_SK_5_0;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MyXmlConn" connectionString="|DataDirectory|\\Links.xml" providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="MyXmlDataSource" connectionString="MyXmlConn" dataTableName="Links" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
  <appSettings>
    <add key="WebServerExePath" value="C:\Program Files (x86)\Common Files\microsoft shared\DevServer\10.0\WebDev.WebServer40.exe"/>
  </appSettings>
</configuration>