<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" connectionString="metadata=&quot;res://*/App_Logic.Entity Model.DatabaseContext.csdl|res://*/App_Logic.Entity Model.DatabaseContext.ssdl|res://*/App_Logic.Entity Model.DatabaseContext.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=EmployeeInfo_SK_5_0;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>